<p>blog works!</p>
<h1> articles blog </h1>
<div *ngFor="let article of articles$|async as articles">
  <div>
    <article>
      <h2> <a [routerLink]="'/blog/'+ article.title "> {{ article.title }} </a> </h2>
      <h3>{{ article.data }}</h3>
      <p>{{ article.slug }}</p>
    </article>
  </div>
</div>
<hr>

<!-- usando i beahviorSubject nei nostri services possiamo aggiornare un dato e
  aggiornarlo in tutti i componenti aggironando i dati solo in 1 punto  -->
  <!-- ad esempio questo ci torna utile per segnare quando l'utente effettua l'autenticazione  -->
{{ blogService.dato$ |async }}

<button (click)="updateDato()"> aumenta  </button>
