<p>form-normale works!</p>

<form action="">
  <div>
    <label for=""> Favorite Color: </label>
    <input
      type="text"
      class="form-control"
      name="favoriteColor"
      autocomplete="off"
      [(ngModel)]="model.favoriteColor"
      min="3"
      max=""
      required
    />
  </div>

  <div>
    <label for=""> name : </label>
    <input
      type="text"
      name="name"
      class="form-control"
      autocomplete="off"
      min="3"
      max=""
      [(ngModel)]="model.name"
      required
    />
  </div>

  <div>
    <label for=""> surname : </label>
    <input
      type="text"
      name="surname"
      class="form-control"
      autocomplete="off"
      [(ngModel)]="model.surname"
      min="3"
      max=""
      required
    />
  </div>
</form>

{{ model | json }}
