<p>regex-js works!</p>

<form action="" [formGroup]="formUser" (ngSubmit)="mandaFormUser()">
  <div>
    <label for="idNome"> Nome :</label> <br>
    <input formControlName="nome" id="idNome" type="text">
  </div>

  <div>
    <label for="idCognome"> Cognome :</label> <br>
    <input formControlName="cognome" id="idCognome" type="text">
  </div>

  <div>
    <label for="idEmail"> Email :</label> <br>
    <input formControlName="email" id="idEmail" type="email">
  </div>

  <div>
    <label for="idPassword"> Password :</label> <br>
    <input formControlName="password" id="idPassword" type="password">
  </div>

  <div>
    <label for="idDescrizione"> Descrizione :</label> <br>
    <textarea formControlName="descrizione" id="idDescrizione" type="text"> </textarea>
  </div>

  <button type="submit">Manda</button>


</form>
