<p>login-or-register works!</p>


<h2> Reactive Form </h2>

<form action="" [formGroup]="formGroup" (ngSubmit)="RegistrazioneUtenteSubmit($event)">
  <!-- <div>
    <label for=""> name : </label>
    <input
      type="text"
      name="name"
      class="form-control"
      autocomplete="off"
      formControlName="name"
      required
    />
  </div> -->

  <!-- <div>
    <label for=""> surname : </label>
    <input
      type="text"
      name="surname"
      class="form-control"
      autocomplete="off"
      formControlName="surname"
    />
  </div> -->


  <div>
    <label for=""> email : </label>
    <input
      type="email"
      name="surname"
      class="form-control"
      autocomplete="off"
      formControlName="email"
    />
  </div>

  <div>
    <label for=""> password  </label>
    <input
      type="password"
      class="form-control"
      name="favoriteColor"
      autocomplete="off"
      formControlName="password"
    />
    <!-- <div *ngif="!name; else error"></div> -->
  </div>

  <!-- <div>
    <label for=""> Favorite Color: </label>
    <input
      type="text"
      class="form-control"
      name="favoriteColor"
      autocomplete="off"
      formControlName="favoriteColor"
    />
  </div> -->
  <button type="button" [disabled]="!email.valid" (click)="ricercaUtente()"> Cerca Utente </button>
  <button type="submit" [disabled]="!formGroup.valid"> Registrati Utente </button>
  <button type="button" [disabled]="!formGroup.valid" (click)="loginUtente()"> Login Utente</button>
</form>

<!-- {{  name.value   }} -->
<!-- {{  surname.value  }} -->
{{  email.value  }}
{{  password.value  }}
<!-- {{  favoriteColor.value  }} -->
<!-- per accedere agli errori  -->
{{ "error : " + formGroup.errors | json   }}

{{ User$.value |json }}
